* {
	font-family: "Roboto",sans-serif;
	text-align: center;
}

p {
	line-height: 1.3em;
}

#raghav {
	height: 10em;
	width: 10em;
	border-radius: 50%;
	display: inline-block;
}

#qualifications {
	margin-top: 0.5em;
	display: inline-block;
}

#experience {
	margin-top: 0.5em;
	display: inline-block;
}

#online {
	margin-top: 1em;
}

#projectContent {
	display: inline-block;
	margin-top: 10%;
}

#container {
	padding-top: 2em;
}


.logoContainer {
	text-align: center;
}

.logoImage {
	max-height: 2.1em;
	max-width: 2.1em;
}

.myurl {
	text-decoration: underline;
}

.blue {
	color: #0AA0D0;
}

.content {
	text-align: justify;
	margin-left: 5vw;
	margin-right: 5vw;
	line-height: 1.5em;
}

.myLine {
	width:15%; 
	border: 1px solid #0AA0D0;
}
